fake_useragent
blinker<1.8.0
requests_html
selenium
selenium-wire
lxml_html_clean
requests
python-dotenv
fastapi[standard]
gunicorn
pydantic
sqlalchemy
celery
uvicorn
setuptools
pypdf
redis
PyPDF2
langchain[llms]
langchain-community
chromadb
langchain-chroma
pika
APScheduler
langchain-ollama